.primary-text{
  color:#519872;
}
.primary-background{
  background-color:#519872;
}
.secondary-text{
  color:#ffffff;
}
.secondary-background{
  background-color:#ffffff;
}
/* HEADER */

header {
 height:90px;
 width: 100%;
 background-color:blue;
 padding: 10px 90px;
 line-height: 90px;
}